@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="@Url.Content("~/assets/images/home/favicon.png")">
    <title>Who is behind MyCoach?</title>
    <link rel="stylesheet" href="/assets/stylesheets/screen.css">
</head>
<body id="about">
    <div id="wrap">
        <header>
            <nav>
                <a href="about">About mycoach</a>
                Hello, Fabian!
                <a class="coach" href="">Sign out</a>
            </nav>
        </header>
        <h1>
            <span>42 coffee cups, 28 tea bags, only 4 dead flies.</span>
            <span><br />One great project.</span>
        </h1>

        <ol>
            <li>
                <img src="assets/images/users/fabian-vilers.png" alt="Fabian Vilers">
                <p><strong>Fabian</strong><br />@@fvilers</p>
            </li>
            <li>
                <img src="assets/images/users/sylvain-guerin.png" alt="Sylvain Guérin">
                <p><strong>Sylvain</strong><br />@@sguerin_</p>
            </li>
            <li>
                <img src="assets/images/users/david-werbrouck.jpeg" alt="David Werbrouck">
                <p><strong>Dave</strong><br />@@david_werbrouck</p>
            </li>
            <li>
                <img src="assets/images/users/roland-civet.jpg" alt="Roland Civet">
                <p><strong>Roland</strong><br />@@phenryll</p>
            </li>
        </ol>
    </div><!-- wrap -->
</body>
</html>