@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue sur MyCoach</h2>

@using (Html.BeginForm("Search", "Home"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <input type="text" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-default">Rechercher</button>
}
