@{
    ViewBag.Title = "Index";
}

<header>
    <nav>
        <a href="">Create an account</a>
        <span>-or-</span>
        <a href="">Login</a>
        <a class="coach" href="">Register as a coach</a>
    </nav>
</header>
<main>
    <h1><span><span>My</span>Coach</span>. Find your inspirational help.</h1>
    <form action="">
        <div>
            <ul id="search-keywords">
                <li data-id="1">Development</li>
                <li data-id="6">testa</li>
            </ul>
            <p>
                <input id="search-input" type="search" placeholder="Ex: Piano, today, 2pm, 15$" autofocus autocomplete="off">
            </p>
        </div>
    </form>
</main>
<ol id="testimonial">
    <li>
        <img src="@Url.Content("~/assets/images/users/julia-vumilia.jpg")" alt="Julia Vumilia Vira">
        <h1>&ldquo;It's like finding the right advice to the right person.&rdquo;</h1>
        <h2>
            <a href="">Read her story</a>. Julia learns in:<br />
            <a class="appTag" href="">Fashion</a> <a class="appTag" href="">Branding</a> <a class="appTag" href="">Planning</a><br />
        </h2>
    </li>
</ol>
<section id="search-results" data-ng-style="display:none;">
    <ol></ol>
</section>
<script type="text/template" id="coachTmpl">
    <li>
        <figure class="coachSnap">
            <img src="<%= photoUrl %>" alt="<%= firstName %>, <%= lastName %>">
            <figcaption>
                <strong>Coach <%= firstName %></strong>&middot;<span class="rate"><%= price %>$ per hour</span>
                <p class="bio"><%= biography %>  </p>
                <p role="navigation">
                    <% for(var i = 0; i < expertiseDomains.length; i++) { %>
                    <a class="appTag" href=""><%= expertiseDomains[i].name %></a>
                    <% } %>
                </p>
            </figcaption>
        </figure>
    </li>
</script>