// Watcher

@mixin animation {
  transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-property: all;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
}

#home main {
  -moz-animation-delay: 500ms;
  -moz-animation-duration: 1000ms;
  -moz-animation-name: showsearchtools;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: showsearchtools;
  -webkit-animation-fill-mode: forwards;
  -o-animation-delay: 500ms;
  -o-animation-duration: 1000ms;
  -o-animation-name: showsearchtools;
  -o-animation-fill-mode: forwards;
  -ms-animation-delay: 500ms;
  -ms-animation-duration: 1000ms;
  -ms-animation-name: showsearchtools;
  -ms-animation-fill-mode: forwards;
}

@-moz-keyframes showsearchtools {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes showsearchtools {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-o-keyframes showsearchtools {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes showsearchtools {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home nav {
  -moz-animation-delay: 1000ms;
  -moz-animation-duration: 2000ms;
  -moz-animation-name: lightScreen;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-name: lightScreen;
  -webkit-animation-fill-mode: forwards;
  -o-animation-delay: 1000ms;
  -o-animation-duration: 2000ms;
  -o-animation-name: lightScreen;
  -o-animation-fill-mode: forwards;
  -ms-animation-delay: 1000ms;
  -ms-animation-duration: 2000ms;
  -ms-animation-name: lightScreen;
  -ms-animation-fill-mode: forwards;
}

@-moz-keyframes lightScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes lightScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes lightScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes lightScreen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


#testimonial {
  -moz-animation-delay: 500ms;
  -moz-animation-duration: 1000ms;
  -moz-animation-name: showtestimonial;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: showtestimonial;
  -webkit-animation-fill-mode: forwards;
  -o-animation-delay: 500ms;
  -o-animation-duration: 1000ms;
  -o-animation-name: showtestimonial;
  -o-animation-fill-mode: forwards;
  -ms-animation-delay: 500ms;
  -ms-animation-duration: 1000ms;
  -ms-animation-name: showtestimonial;
  -ms-animation-fill-mode: forwards;
}

@-moz-keyframes showtestimonial {
 0% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-webkit-keyframes showtestimonial {
  0% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-o-keyframes showtestimonial {
 0% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@-ms-keyframes showtestimonial {
 0% {
    opacity: 0;
    margin-top: 40px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.available span{
  -moz-animation-delay: 500ms;
  -moz-animation-duration: 1000ms;
  -moz-animation-name: showAvailable;
  -moz-animation-fill-mode: forwards;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-delay: 500ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: showAvailable;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -o-animation-delay: 500ms;
  -o-animation-duration: 1000ms;
  -o-animation-name: showAvailable;
  -o-animation-fill-mode: forwards;
  -o-animation-iteration-count: infinite;
  -ms-animation-delay: 500ms;
  -ms-animation-duration: 1000ms;
  -ms-animation-name: showAvailable;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;
}

@-moz-keyframes showAvailable {
0%,100%{
    background-color: #FFB400;
  }
  50% {
    background-color: #fff;
  }
}
@-webkit-keyframes showAvailable {
0%,100%{
    background-color: #FFB400;
  }
  50% {
    background-color: #fff;
  }
}
@-o-keyframes showAvailable {
0%,100%{
    background-color: #FFB400;
  }
  50% {
    background-color: #fff;
  }
}
@-ms-keyframes showAvailable {
  0%,100%{
    background-color: #FFB400;
  }
  50% {
    background-color: #fff;
  }
}

.loading img {
  -moz-animation-duration: 1000ms;
  -moz-animation-name: turnBg;
  -moz-animation-fill-mode: forwards;
  -moz-transform-origin: center center;
  -moz-transform-style: preserve-3D;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: turnBg;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform-origin: center center;
  -webkit-transform-style: preserve-3D;
  -o-animation-duration: 1000ms;
  -o-animation-name: turnBg;
  -o-animation-fill-mode: forwards;
  -o-transform-origin: center center;
  -o-transform-style: preserve-3D;
  -ms-animation-duration: 1000ms;
  -ms-animation-name: turnBg;
  -ms-animation-fill-mode: forwards;
  -ms-transform-origin: center center;
  -ms-transform-style: preserve-3D;
}

@-moz-keyframes turnBg {
  0%{
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes turnBg {
  0%{
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-o-keyframes turnBg {
  0%{
     -oz-transform: rotate(0deg);
  }
  100% {
    -oz-transform: rotate(180deg);
  }
}
@-ms-keyframes turnBg {
  0%{
     -oz-transform: rotate(0deg);
  }
  100% {
    -oz-transform: rotate(180deg);
  }
}
