// font-size:

@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/roboto-light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
