// IMPORT

@import 'fonts','normalize', 'animate';

// Variables

$lightgreen: #5BCE4F;
$green: #2D9F22;
$darkgreen: #062803;
$white: #ffffff;
$grey: #D8D8D8;
$yellow: #FBE4AE;
$orange: #FFB400;
$greenblack: #063F00;
$blue: #199CEE;

@mixin border-radius($value) {
  border-radius: $value;
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  -o-webkit-border-radius: $value;
}

html {
  font-family: 'roboto-light' sans-serif;
  background-color: $green;
}

.tt-dataset-keywords {
  display: none;
}

.tt-hint {
  color: $grey;
  top: -2px !important;
  left: -2px !important;
}
.twitter-typeahead {
  display: inline !important;
  float: left;
  font-family: 'roboto-regular' sans-serif;
}

// HOME

#home {
  color: $white;
  nav {
    margin-bottom: 80px;
    padding: 30px;
    text-align: right;
    font-size: .8em;
    .coach {
      display: inline-block;
      img {
        width: 30px;
        @include border-radius(15px);
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      &+a {
        margin-left: 30px;
      }
      &:hover {
       color: $darkgreen;
      }
      &.coach {
        margin-left: 20px;
        border: 1px solid $lightgreen;
        padding: 10px 20px;
        @include border-radius(20px);
        &:hover {
          border-color: $darkgreen;
          color: $white;
          background-color: $darkgreen;
        }
      }
    }
  }

  // SEARCH TOOLS

  main {
    opacity: 0;
    text-align: center;
    h1 {
      font-weight: normal;
      margin-bottom: 30px;
      #logo {
        &:first-child {
          font: {
            family: 'bello' sans-serif;
            size: 1.4em;
            font-weight: lighter;
          }
        }
        color: $white;
        span {
          color: #0A4805;
        }
      }
    }
    form {
      div {
        margin: 0 auto;
        overflow: hidden;
        width: 60%;
        border: 0;
        padding: 17px 15px;
        @include border-radius(4px);
        font-size: 1.5em;
        color: $darkgreen;
        background: #FFFFFF;
        -moz-box-shadow: 0px 1px 3px 0px rgba(33,130,24,0.80);
        -webkit-box-shadow: 0px 1px 3px 0px rgba(33,130,24,0.80);
        box-shadow: 0px 1px 3px 0px rgba(33,130,24,0.80);
        &+p {
          width: 100%;
          text-align: left;
        }
      }
      #search-input {
        width: 100%;
        font-family: 'roboto-regular' sans-serif;
        text-align: left;
        border: 0;
        outline: none;
        display: inline-block;
        outline: none;
      }
      #search-keywords {
        float: left;
        text-align: left;
        li {
          list-style: none;
          display: inline-block;
          margin-right: 5px;
          padding: 2px 5px;
          @include border-radius(3px);
          font-family: 'roboto-regular' sans-serif;
          color: $white;
          background-color: $blue;
        }
      }
    }
  }

  // TESTIMONIAL

  #testimonial {
    padding-top: 40px;
    opacity: 0;
    list-style: none;
    width: 60%;
    margin: 40px auto;
    font-size: .7em;
    text-align: center;
    li {
      border: 1px dotted $lightgreen;
      border-width: 1px 0 0 0;
      padding: 30px;
    }
    h1 {
      margin-bottom: 0;
    }
    h2 {
      font-size: 1.2em;
      line-height: 2.7em;
      a {
        color: $white;
        line-height: 2em;
        text-decoration: none;
        &:hover {
          color: $darkgreen;
        }
      }
    }
    img {
      margin-bottom: 10px;
      width: 80px;
      @include border-radius(40px);
    }
  }

  // TAGS

  .appTag {
    display: inline-block;
    @include border-radius(20px);
    background-color: #0A4805;
    padding: 0 15px;
    color: $white!important;
    text-decoration: none;
    &:hover {
      border-color: $white;
      color: $darkgreen !important;
      background-color: $white;
    }
  }

  // RESULTS

  #search-results {
    margin: 40px auto;
    width: 60%;
    li {
      list-style: none;
      margin: 30px 0 15px;
      .coachSnap {
        display: block;
        padding: 10px 10px 10px 85px;
        text-decoration: none;
        color: $white;
        &:hover {
          cursor: pointer;
          @include border-radius(7px);
          background-color: transparentize($lightgreen, .5);
        }
      }
      figure {
        position: relative;
        overflow: hidden;
      }
      img {
        width: 60px;
        @include border-radius(4px);
        position: absolute;
        left: 10px;
      }
      figcaption {
        p {
          padding: 5px 0;
          &.bio {
            line-height: 2em;
          }
          &[role='navigation'] {
            margin-top: 10px;
            @include border-radius(4px);

          }
        }
        .rate {
          padding-left: 15px;
          background: url(../images/home/change-icon.svg) no-repeat left center;
        }
      }
      &+li {
        border: 1px dotted $lightgreen;
        border-width: 1px 0 0 0;
        padding-top: 30px;
      }
      &.loading {
        border: 0;
        background: url(../images/home/loading.gif) no-repeat center center;
      }
    }
    .appTag {
      font-size: .8em !important;
      padding: 3px 15px;
     }
  }
}

// AVAILABLE BADGE

  .available {
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      @include border-radius(5px);
      background-color: $orange;
    }
  }

// POP HOVER

#pophover {
  // display: none;
  #close {
    position: absolute;
    opacity: .5;
    top: -20px;
    right: -20px;
    &:hover {
      opacity: 1;
    }
  }
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  section {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 630px;
    height: 520px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    @include border-radius(4px);
    color: $darkgreen;
    background-color: $white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 26px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 26px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 26px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1px;

    // CONFIRMATION POP HOVER

    &.payAndGo {
      height: 390px;
      h1 {
        font-size: 1.5em;
        color: $green;
      }
      .infoOrder {
        position: relative;
        overflow: hidden;
        padding: 20px;
        margin-top: 30px;
        @include border-radius(4px);
        background: $blue url(../images/home/wave-bg.svg) no-repeat left -20px;
      }
      .cardInfo {
        float: left;
        color: transparentize($darkgreen, .4);
        font-family: 'courrier' sans-serif;
        text-align: left;
        font-size: 1.1em;
        line-height: 1.6em;
        a {
          display: inline-block;
          padding-top: 15px;
          font-size: .8em;
          font-family: 'roboto-light' sans-serif;
          color: transparentize($darkgreen, .5);
          &:hover {
            color: $darkgreen;
          }
        }
      }
      .rateOrder {
        position: absolute;
        top: 12px;
        right: 0;
        width: 30%;
        color: $white;
        strong {
          font-size: 3em;
        }
        sup {
          font-size: 1.2em;
          top: -1em;
        }
        span {
          font-size: .8em!important;
        }
      }
      button {
        margin-top: 15px;
        border: 0;
        font: {
          family: 'roboto-regular' sans-serif;
          size: 1.1em;
        }
        @include border-radius(4px);
        padding: 15px 20px 15px 56px;
        color: $blue;
        background: $white url(../images/home/skype-icon-off.svg) no-repeat 10px center;
        span {
          color: darken($blue, 20%);
          border: 1px solid darken($blue, 20%);
          border-width: 0 0 1px 0;
          padding-bottom: 1px;
        }
        &:hover {
          background: darken($blue, 20%) url(../images/home/skype-icon.svg) no-repeat 10px center;
          span {
            border: none;
            color: $white;
          }
        }
      }
    }
    .coachSnap {
      img {
        margin-bottom: 15px;
        width: 128px;
        @include border-radius(64px);
      }
    }
    p[role='navigation'] {
      margin-top: 20px;
    }
    p.bio {
     margin-top: 10px;
    }
    .appTag {
      border: 1px solid transparentize($grey, .1)!important;
      font-size: .9em;
      color: $darkgreen !important;
      line-height: 2em!important;
      background-color: $white!important;
    }
    &.loading {
      div {
        padding: 115px 0;
      }
    }
  }

  // DATE PICKING

  #datePicking {
    margin-top: 10px;
    position: relative;
    &>a {
      display: block;
      position: absolute;
      padding: 21px 2px;
      opacity: .5;
      right: -15px;
      bottom: 0;
      &:hover {
        opacity: 1;
      }
    }
    p {
      padding: 14px 20px 25px 20px;
      span {
        padding: 0 10px;
        background-color: $white;
      }
      background: url(../images/home/line.svg) repeat-x center;
    }
    li {
      list-style: none;
      display: inline-block;
      a {
        display: inline-block;
        @include border-radius(4px);
        width: 180px;
        padding: 20px;
        color: $darkgreen;
        text-decoration: none;
        background-color: transparentize($lightgreen, .85);
        strong {
          font-family: 'roboto-bold' sans-serif;
        }
        &:hover {
          color: $white;
          background-color: $green;
        }
      }
    }
  }
}

#loadingSection {
  text-align: center;
  button {
    border: 1px solid $white;
    @include border-radius(20px);
    padding: 6px 15px;
    color: $white;
    background-color: $green;
    &:hover {
      color: $green;
      background-color: $white;
    }
  }
}




















